* {
    margin: 0;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    text-align: center;
    overflow-y: hidden;
}

header{
  width: hidden;
  height: 5em;
  display:block;
  text-align: center;
  padding: 10px;
}

  h2{
    margin-top: 10px;
    text-align: center;
  }
  
  header ul{
    align-items: center;
    justify-content: space-around;
    display: flex;
    
  }

  header li{
    text-align: center;
    list-style-type: none;
    padding: 10px;
  }

  li a{
    text-decoration: none;
    color:white;
  }

  li a:hover{
    animation-name: parpadeo;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
  }

    @keyframes parpadeo{
        from{
           color: white;
        }

        to{
            color: black;
        }
    }
  
  .contenido{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 10px;
  }

  .text{
    display: block;
    border-color: white;
    text-align: justify;
    max-width: 400px;
  }

  .p{
    margin: 20px;
  }
